@tailwind components;

@layer components {
  .navbarLink {
    all: unset;
    @apply inline-block text-base text-primary font-sans cursor-pointer py-4 px-[0.7rem];
    @apply transition-colors duration-300 ease-in-out;
  }

  .navbarLink:hover,
  .navbarLink:focus,
  .navbarLink:focus-visible {
    @apply bg-slate-200 rounded-b-md;
  }

  /* Accessibility */
  .navbarLink:focus,
  .navbarLink:focus-visible {
    outline: 1px dotted black;
    outline-offset: -1px;
  }

  .navbarLink:active {
    @apply bg-slate-300 rounded-b-md outline-none;
  }
}
